body {
  background-color: black;
}
h1 {
  font-family: "Monserrat", sans-serif;
  color: #ffffff;
  font-size: 48px;
  text-align: center;
}
    button {
      background-color: white;
      color: black;
      padding: 10px 20px;
      border: none;
      cursor: pointer;
      transition: all 0.25s ease;
      border-radius: 20px;
      font-size: 30px;
    }

    button:hover {
      transform: scale(1.1);
    }
